.head
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#33FF33;
}
.n
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
background-color:#CCFFFF;
}
.d
{
position:relative;
top:100px;
left:250px;
font-family:Arial, Helvetica, sans-serif;
font-size:24px;
color:#000000;

}
.menu
{
height:50px;
width:1000px;
float:left;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul a
{
text-decoration:none;
font-size:20px;
color:#990033;
}
.footer
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FF00CC;
}
.copy
{
height:50px;
width:1000px;
float:left;
font-size:24px;
text-align:center;
font-family:"Times New Roman", Times, serif;
}
.home{
height:700px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-image:url(images/dog.jpg);
background-repeat:no-repeat;
background-position:center;
background-size:1000px 700px; 
}
.heading{
height:100px;
width:1000px;
float:left;
text-align:center;
background-color:#66FFFF;
}
.working{
height:200px;
width:1000px;
float:left;
font-family:"Times New Roman", Times, serif;
font-size:24px;
text-align: justify;
color: #000000;
}
.img1{
height:200px;
width:500px;
float:right;
}
.img2{
height:200px;
width:500px;
float:right;
}
.about{
height:900px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-image:url(images/peacock.jpg);
background-color:#00CC00;
}
.im1
{
float:left;
}
.im2
{
float:right;
}
.im3
{
float:left;
}
.im4
{
float:right;
}
.im5
{
float:left;
}
.im6
{
float:right;
}
.im7
{
float:left;
}
.im8
{
float:right;
}
.im9
{
float:left;
}
.im10{
float:right;}
.im11{
float:left;
}
.im12
{
float:right;
}

.service
{
height:500px;
width:1000px;
margin-left:auto;
margin-right: auto;
}
.contact
{
height:500px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.ad
{
height:250px;
width:1000px;
float:left;
text-align:center;
font-size:24px;
}
.map
{
float:left;
}
.register
{
height:500px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#00FFFF;
}
.label
{
display:inline-block
}
